
@media screen and (min-width: 768px) {
	h1{font-size:70px;}	
	#main{}
}
h1{
	color:#FFFBF0;
	font-family: 'Ubuntu', sans-serif;
	font-size:70px;
	font-weight:bolder;
	}
h2{
	font-weight:lighter;}
#header{
	
	position:fixed;
	top:0%;
	background:none;
	border:none;}

#main{
	position:absolute;
	top:2%;
	left:5%;
	width:20%;
	background-color:white;
	border-radius:8px;
	
	border:none;
	z-index:1000;
	}
	
h2{
	color:#2A3F55;
	font-weight:lighter;}
	

.back-vid{
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	background:none;
	z-index:1;
	}